.activate-container {
  padding: 10px;
  margin-left: 80px;
  background-color: #f1f3f5;
}

.user-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
}

.user-list-header {
  background-color: #f1f3f5;
}

.header-item {
  color: #75849b;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
}

.item {
  text-align: left;
  padding-left: 10px;
  color: #465061;
}

.user-list-header,
.user-item {
  display: grid;
  grid-template-columns: 50px 50px 1fr 1.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 50px;
  align-items: center;
  padding: 8px 20px;
}

.user-list-container {
  grid-gap: 10px;
}

.user-item {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-bottom: 5px; /* Decreased margin-bottom to reduce space between items */
}

.checkbox,
.initials-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.initials-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu i {
  font-size: 15px;
  cursor: pointer;
  color: grey;
}

.menu-content {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
  width: 150px; /* Adjust the width to your preference */
  height: auto; /* Auto height allows the height to adjust based on content */
}

.menu-content.active {
  display: flex;
  flex-direction: column;
}

.menu-content div {
  padding: 5px 10px; /* Adjust padding to decrease height */
  cursor: pointer;
  font-size: 14px; /* Adjust font size if needed */
}

.menu-content div:hover {
  background-color: #eaeaea;
}

.menu-content div.deactivate {
  color: red;
}
