<div class="user-header">
  <h2>Users ({{ userCount }})</h2>
  <div class="user-actions">
    <button
      class="btn import-action-btn btn-outline-primary"
      (click)="importUsers()"
    >
      Import
    </button>
    <button class="btn create-user-btn" [routerLink]="['/users/create-user']">
      Create User
    </button>
  </div>
</div>

<div *ngIf="showTabs" class="user-tabs">
  <a class="nav-link" routerLink="activate" routerLinkActive="active">Active</a>
  <a class="nav-link" routerLink="deactivated" routerLinkActive="active"
    >Deactivated</a
  >
</div>

<router-outlet></router-outlet>
<!-- This will load the ActivateComponent or DeactivatedComponent -->
